#title {
  color: white;
  background-color: blue;
  text-align: center;
}

#padding {
 color: grey;
  border-style: solid;
  padding: 25px;
  text-align: center;
}

#br {
 color: grey; 
  border-style: solid;
  border-radius: 20px;
  text-align:center;
  padding: 7px
}