#title {
  color: white;
  background-color: blue;
  text-align: center;
}

#padding {
 color: grey;
  border-style: solid;
  border-;
  text-align: center;
}

#br {
 color: grey; 
  border-style: solid;
  border-radius: 10px;
  text-align:center;
}